* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-purple: #514988;
  --primary-purple-hover: #352e63;
  --white: #fff;
  --primary-orange: #f3c61f;
  --primary-magenta: #e33881;
  --highlight: #8377d3;
  --selected: #066906;
  --standard-font: 'Verdana', sans-serif;
}

body {
  font-family: var(--standard-font);
  height: 800px;
}

#left-side {
  background-color: var(--primary-purple);
}
#right-side {
  color: var(--primary-purple);
}

h1 {
  font-weight: bold;
  color: var(--primary-orange);
}

#h1-rigth-side {
  color: var(--primary-purple);
}

#subtitle-timer {
  color: var(--primary-magenta);
  font-weight: bolder;
}

#subtitle-cards {
  color: var(--primary-purple);
  font-weight: bolder;
}

h6 {
  margin: 0 0 40px 0;
}

#btn {
  padding: 25px 50px;
  background-color: var(--primary-purple);
  margin: 85px 0 0 0;
  transition: all ease 0.5s;
  font-weight: bolder;
}

#btn:hover, #btn-form:hover {
  background-color: var(--primary-purple-hover);
  color: var(--primary-orange);
}

#btn-container {
  height: 100%;
}

.timer {
  display: flex;
  gap: 40px;
}

.timer h1 {
  color: var(--primary-purple);
}

/* Classes do box-shadow */
.card-highlight {
  box-shadow: 10px 10px var(--highlight);
  transition: all ease 0.4s;
}

.card-selected {
  border: 5px solid var(--selected);
}

#cards-section{
  height: 280px;
}

#form-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  background-color: var(--primary-purple);
  border-radius: 10px;
  color: var(--white);
  border: none;
  margin: 30px 0;
  width: 400px;
  height: 70px;
  font-size: 30px;
  padding: 4px;
}

#btn-form {
  padding: 22px 40px;
  background-color: var(--primary-purple);
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  color: var(--white);
  text-transform: uppercase;
  transition: all ease 0.5s;
  font-weight: bolder;
}

